.item-prodotto{
    padding: 3px;
    margin: 40px 2%;
    background: #f5d814;


    display: inline-block;
    height: 150px;
    width: 200px;
    border-radius: 8px;
}

.item-fornitore{
    padding: 3px;
    margin: 40px 2%;
    /*background: #fffbaa;*/
    background: #ffff00;

    display: inline-block;
    height: 150px;
    width: 200px;
    border-radius: 8px;
}


