/*------------------------------------------------------------------
    Main Style Stylesheet
    Project:        HTML5 Template
    Version:        1.0
    Author:         M_Adnan
    Last change:    10/02/2015
    Primary use:    Creative, Coporate, Business, Portfolio, Personal
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
body
 + WRAP
 + HEADER
 + NAVIGATION
 + BANNER
 + SERVICES
 + OUR FEATURED FOUNDERS
 + BLOG UPDATES
 + APPOINMENT
 + NEWS FROM BLOG
 + PARTNERS / CLIENTS
 + FOOTER
 + SOCIAL ICONS
 + MEGA MENU
 + 3 MENU LEVEL
-------------------------------------------------------------------*/
/*=======================================================
      IMPORT FILE
========================================================*/
